<div class="flex-l">
{% for product in products|slice(0, 3) %}
  
	<article class="hide-child relative w-100 w-33-l pa3">
    <div class="ba b--black-20">
      <img src="{{ product.thumbnail.src }}" class="db" alt="{{ product.post_title }}" />
      <div class="pa3 bt bg-white">
        <h3 class="f1 fw7 mv0 pa3">{{ product.post_title }}</h3>
        {% if product._sale_price >= 1 %}
          <p class="ph3 f1-l mb0"><span class="strike">${{ product._regular_price}}</span> <span class="red">${{product._sale_price }}</span></p>
        {% else %}
          <p class="ph3 f1-l mb0">${{ product._regular_price}}</p>
        {% endif %}
        <p class="f3 gray mv3 ph3">{{ product.post_excerpt }}</p>
        <a class="f3 fw6 link tc ph3 pv3 db bg-animate bg-dark-blue hover-bg-blue white br1" href="{{ product.slug }}">View Product</a>
      </div>
    <!-- a class="child absolute top-1 right-1 ba bw1 black-40 grow no-underline br-100 w1 h1 pa2 lh-solid b" href="#">×</a>
	   //Weird floating for lightboxing 
	   -->
    </div>
  </article>

{% endfor %}
</div>